<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link href="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/hotui/css/style.min-1.0.0.css" rel="stylesheet"/>
    <title>理财活动列表</title>
    <script th:inline="javascript">
        var rootURL = /*[[${url}]]*/'www.baidu.com';
        var pageIndex = /*[[${page}]]*/'1';
        var totalPage = /*[[${pageSize}]]*/'20';
    </script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight tooltip-demo">

    <div class="tab-content">
        <div class="tab-pane active">
            <div class="panel-body">
                <table class="table table-bordered table-hover table-center">
                    <thead>
                    <tr>
                        <th colspan="8" style="color: #636e7b; padding-bottom: 0px; text-align: left;">
                            <!--<label><img src="/images/remark_icons/b1.gif" width="20" height="20" /></label>-->
                            <span style="font-size: 20px;">理财活动列表</span>

                            <p style="float: right;">
                                <a th:href="@{/financialGoods/addPage}" href="javascript:void(0);"
                                   class="btn btn-success btn-sm">新增活动</a>
                            </p>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>商品名称</td>
                        <td>日利率(单位：‱)</td>
                        <td>理财周期(单位：天)</td>
                        <td>操作</td>
                    </tr>
                    <tr th:each="financial:${list}">
                        <td th:text="${financial.title}">商品1</td>
                        <td th:text="${financial.rate}">0.0001</td>
                        <td th:text="${financial.redeemPeriod}">1</td>
                        <td>
                            <a class="btn btn-success btn-sm" href="javascript:void(0)"
                               th:href="@{/financialGoods/buyFlowIndex(id=${financial.id})}">
                                <i class="fa fa-check"></i>&nbsp;查看记录</a>&nbsp;&nbsp;
                            <a class="btn btn-success btn-sm" href="javascript:void(0)"
                               th:href="@{/financialGoods/editPage(id=${financial.id})}">
                                <i class="fa fa-paste"></i>&nbsp;编辑</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <p style="float: left; margin: 20px 0;">共<span th:text="${total}">1</span>条记录，
                    当前第<span th:text="${page}">1</span>/<span th:text="${pageCount}">10</span>，
                    每页<span th:text="${pageSize}">20</span>条记录</p>
                <ul style="float: right;" class="pagination pagination-split" id="financialList">
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/bootstrap.min.js"></script>
<script src="../js/content.min.js?v=1.0.0"></script>

<script src="../js/plugins/hot/bootstrap.hot.extra-utils.js"></script>
<script src="../js/plugins/hot/bootstrap.hot.extra-init.js"></script>
<script type="text/javascript">

    $(function () {
        //初始化分页
        var pageinate = new hot.paging("#financialList", pageIndex, totalPage, 7);

        pageinate.init(function (p) {
            window.location.href = rootURL + p;
        });
    });
</script>
</body>
</html>