<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/hotui/css/style.min-1.0.0.css" rel="stylesheet"/>
    <script th:inline="javascript">
        var rootURL = /*[[${url}]]*/'www.baidu.com';
        var pageIndex = /*[[${page}]]*/'1';
        var totalPage = /*[[${pageSize}]]*/'20';
        var searchURL = /*[[${searchUrl}]]*/'';
    </script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight tooltip-demo">
    <!--search-->
    <form role="form" class="search-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content p-md">
                        <div class="form-inline">
                            <div class="form-group m-r-sm">
                                <label class=" control-label" for="no">理财编号：</label>
                                <input type="text" class="form-control input-sm mb10" id="no" name="no"
                                       placeholder="理财编号"/>
                            </div>
                            <button type="button" id="flowSearch" class="btn btn-success">搜索</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--search-->

    <!--list-->
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="panel-body">
                            <table class="table table-bordered table-hover table-center">
                                <thead>
                                <tr>
                                    <td>理财编号</td>
                                    <td>商品信息</td>
                                    <td>商品数量</td>
                                    <td>消费金额</td>
                                    <td>购买时间</td>
                                    <td>日利率</td>
                                    <td>赎回周期</td>
                                    <td>用户昵称</td>
                                    <td>用户头像</td>
                                    <td>操作</td>
                                </tr>
                                </thead>
                                <tbody id="list">
                                <tr th:each="flow:${list}">
                                    <td th:text="${flow.no}">2016091110421110313</td>
                                    <td th:text="${flow.financialTitle}">商品1</td>
                                    <td th:text="${flow.amount}">1</td>
                                    <td th:text="${flow.money}">10000</td>
                                    <td th:text="${#calendars.format(flow.buyTime,'yyyy-MM-dd HH:mm')}">2014-05-31
                                        13:57
                                    </td>
                                    <td th:text="${flow.rate}">0.0001</td>
                                    <td th:text="${flow.redeemPeriod}">100</td>
                                    <td th:text="${flow.wxName}">test</td>
                                    <td><img th:src="${flow.wxImgURL}" style="height: 30px;width: 30px;"/></td>
                                    <td>
                                        <button style="padding: 0px 5px;" title="" data-placement="top"
                                                onclick="redemption(this)" th:attr="flowNo=${flow.no}"
                                                data-toggle="tooltip" class="btn btn-default tooltips" type="button"
                                                data-original-title="确定赎回">确定赎回
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>


                            <p style="float: left; margin: 20px 0;">共<span th:text="${total}">1</span>条记录，
                                当前第<span th:text="${page}">1</span>/<span th:text="${pageCount}">10</span>，
                                每页<span th:text="${pageSize}">20</span>条记录</p>
                            <ul style="float: right;" class="pagination pagination-split">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/bootstrap.min.js"></script>
<script src="../js/content.min.js?v=1.0.0"></script>

<script src="../js/plugins/hot/bootstrap.hot.extra-utils.js"></script>
<script src="../js/plugins/hot/bootstrap.hot.extra-init.js"></script>
<script type="text/javascript">

    $(function () {
        var pageinate = new hot.paging(".pagination", pageIndex, totalPage, 7);
        pageinate.init(function (p) {
            window.location.href = rootURL + p;
        });

        $("#flowSearch").click(function () {
            window.location.href = searchURL + $("#no").val();
        })
    });

    function redemption(obj) {
        var loading = layer.load(1, {
            shade: [0.1, '#fff'] //0.1透明度的白色背景
        });
        $.ajax({
            url: 'updateFlowStatus',
            type: 'POST',
            data: {no: $(obj).attr("flowNo")},
            success: function (result) {
                layer.close(loading);
                if (result.success) {
                    layer.msg("赎回成功");
                    $(obj).parent().parent().empty();
                } else {
                    layer.msg(result.msg);
                }
            }, error: function () {
                layer.close(loading);
                layer.msg('服务器繁忙，请稍后再试');
            }

        })
    }

    //    var page = {};
    //
    //    page.init = function () {
    //        page.list();
    //    }
    //
    //    page.search = function () {
    //        requestData.no = $("#no").val();
    //        page.list();
    //    }

    //    page.list = function () {
    //        $.get("/financialGoods/redeemlist.do", requestData, function (data) {
    //            if (data) {
    //                var html = "";
    //                for (var i = 0; i < data.list.length; i++) {
    //                    var row = data.list[i];
    //                    html += '<tr><td>' + row.no + '</td><td>' + row.userName + '</td><td>' + row.financialTitle + '</td><td>' + row.time + '</td>' +
    //                            '<td><button style="padding: 0px 5px;" data-placement="top" data-toggle="tooltip" class="btn btn-default tooltips" type="button" data-original-title="确定赎回">确定赎回</button></td></tr>';
    //                }
    //
    //                $("#list").html(html);
    //
    //                $("#recordCount").text(data.page.recordCount);
    //                $("#pageIndex").text(data.page.pageNo);
    //                $("#pageCount").text(data.page.totalPage);
    //                $("#pageSize").text(data.page.pageSize);
    //                page.paging(data.page.totalPage);
    //            }
    //        });
    //    }

    //    page.paging = function (totalPage) {
    //        var pageinate = new hot.paging(".pagination", requestData.pageNo, totalPage, 7);
    //        pageinate.init(function (pageNo) {
    //            requestData.pageNo = pageNo;
    //            page.list();
    //        });
    //    }

</script>
</body>
</html>